<div data-controller="animal-form" data-animal-form-counter-value = '0' data-animal-form-age-validation-value=''>
  <%= form_with(model: animal) do |form| %>
    <% if animal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

        <ul>
          <% animal.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name ,
      'data-animal-form-target': 'name',
      'data-action': 'keyup->animal-form#countCharacters' %>
      <span data-animal-form-target='display'><%= animal.name.to_s.size %></span>
    </div>

    <div class="field">
      <%= form.label :age %>
      <%= form.number_field :age,
       'data-animal-form-target': 'age',
       'data-action': 'change->animal-form#validateAge' %>
      <span data-animal-form-target='ageValidationMessage'></span>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
