<div class = 'container' 
  data-controller="animal-form"
  data-animal-form-counter-value = '0'
  data-animal-form-age-validation-value='false'
  data-animal-form-error-class = 'show-message'
>
  <%= form_with(model: animal) do |form| %>
    <% if animal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

        <ul>
          <% animal.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name ,
      class: 'form-control pb-2',
      'data-animal-form-target': 'name',
      'data-action': 'keyup->animal-form#countCharacters' %>
      <span data-animal-form-target='display'><%= animal.name.to_s.size %></span>
    </div>

    <div class="form-group mt-5">
      <%= form.label :age %>
      <%= form.number_field :age,
        class: 'form-control',
       'data-animal-form-target': 'age',
       'data-action': 'change->animal-form#validateAge' %>
      <span data-animal-form-target='ageValidationMessage'></span>
    </div>

    <div class="actions mt-3">
      <%= form.submit class: 'btn btn-success', 'data-action': 'click->animal-form#validateSubmit' %>
    </div>
  <% end %>
</div>
